header {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 10px;
    background: var(--fixed-dark-tertiary, #1B365A);
}

#logo {
    height: 64px;
}

#logo.is-hidden {
    display: none;
}

@media (min-width: 800px) {
    header {
        display: flex;
        height: 64px;
        align-items: center;
        background: var(--fixed-dark-tertiary, #1B365A);
    }

    #logo {
        height: 64px;
    }

    #logo.is-hidden {
        display: initial;
    }
}

@media (min-width: 1280px) {
    header {
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        background: var(--fixed-dark-tertiary, #1B365A);
    }

    #logo {
        height: 80px;
    }

    #logo.is-hidden {
        display: initial;
    }
}