@use '../shared/hero-mixins' as hero-mixins;

:host {
    display: flex;
    max-width: 600px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

@include hero-mixins.hero-layout();

#intro {
    display: flex;
    max-width: 300px; // Custom
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    // Custom
    margin: auto;
    // Text
    color: var(--text-neutral-default, #000);
    font-family: var(--typeface, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    #intro-heading {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        // Text
        color: var(--text-secondary-default, #456BA1);
        font-family: var(--typeface-brand, Sansation);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #newroots {
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface-brand, Sansation);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

@media (min-width: 450px) {
    :host {
        display: flex;
        padding: 32px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        align-self: stretch;
        // Custom
        margin: auto;
    }

    @include hero-mixins.hero-layout-450();

    #intro {
        display: flex;
        max-width: 600px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        // Text
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface, Inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        #intro-heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            // Text
            color: var(--text-secondary-default, #456BA1);
            font-family: var(--typeface-brand, Sansation);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #newroots {
            color: var(--text-neutral-default, #000);
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

@media (min-width: 800px) {
    :host {
        display: flex;
        padding: 64px 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    @include hero-mixins.hero-layout-800();

    #intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        // Text
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface, Inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        #intro-heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            // Text
            color: var(--text-secondary-default, #456BA1);
            font-family: var(--typeface-brand, Sansation);
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #newroots {
            color: var(--text-neutral-default, #000);
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

@media (min-width: 1280px) {
    :host {
        display: flex;
        max-width: var(--corner-radius-desktop-max-width, 1280px);
        padding: 32px 64px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        // Custom
        margin: auto;
    }

    @include hero-mixins.hero-layout-1280();

    #intro {
        display: flex;
        max-width: 800px; // Custom
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        // Text
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface, Inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        #intro-heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            // Text
            color: var(--text-secondary-default, #456BA1);
            font-family: var(--typeface-brand, Sansation);
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #newroots {
            color: var(--text-neutral-default, #000);
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}