#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#hexagons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: -20px;
}

#hex-row-1 {
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 4px;
}

#hex-row-2 {
    display: flex;
    align-items: center;
    gap: 4px;
    // Custom
    margin-top: -24px;

    .hex-container {
        margin-left: -17px;
        margin-right: -17px;
    }
}

#hex-row-3 {
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 4px;
    // Custom
    margin-top: -40px;
}

#hex-row-4 {
    display: flex;
    align-items: center;
    gap: 4px;
    // Custom
    margin-top: -39px;

    .hex-container {
        margin-left: -17px;
        margin-right: -17px;
    }
}

.hex-container {
    display: grid;
    place-items: center;
    position: relative;
    // Custom
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;

    * {
        grid-area: 1 / 1; // All the children occupy the same space
    }

    .hexagon {
        transition: color 0.3s ease;
        color: var(--positive-color);
    }

    .hex-content-positive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px; // Custom
        // Custom
        z-index: 2; // Ensures the content stays above the hexagon
        pointer-events: none; // Allows clicks to pass through to the hexagon
        transition: opacity 0.3s ease, transform 0.3s ease;

        .wizard-text {
            color: var(--text-accent2-default, #BF092F);
            text-align: center;
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.48px;
            text-transform: lowercase;
        }

        .hex-text {
            color: var(--background-transparent-negative-50, rgba(0, 0, 0, 0.70));
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.48px;
            text-transform: lowercase;
        }

        .sponsor-text {
            color: var(--text-secondary-default, #456BA1);
            text-align: center;
            font-family: var(--typeface-brand, Sansation);
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.3px;
            text-transform: lowercase;
            // Custom
            margin-top: -16px;
        }

        .sponsor-name {
            color: var(--text-secondary-default, #456BA1);
            text-align: center;
            font-family: var(--typeface-brand, Sansation);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.36px;
            // Custom
            margin-top: -8px;
        }
    }

    .hex-content-negative {
        opacity: 0;
        transform: scale(0.8);
        max-width: 130px;
    }
}

.hex-container:active {
    .hexagon {
        color: var(--inactive-color);
    }
}

#intro {
    display: flex;
    max-width: 300px; // Custom
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    // Custom
    margin: auto;
    // Text
    color: var(--text-neutral-default, #000);
    font-family: var(--typeface, Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    #intro-heading {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        // Text
        color: var(--text-secondary-default, #456BA1);
        font-family: var(--typeface-brand, Sansation);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #newroots {
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface-brand, Sansation);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

@media (min-width: 450px) {
    #hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    #hexagons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // gap: -20px;
    }

    #hex-row-1 {
        display: flex;
        padding-left: 50px;
        align-items: center;
        gap: 4px;
    }

    #hex-row-2 {
        display: flex;
        align-items: center;
        gap: 4px;
        // Custom
        margin-top: -38px;

        .hex-container {
            margin-left: initial;
            margin-right: initial;
        }
    }

    #hex-row-3 {
        display: flex;
        padding-left: 50px;
        align-items: center;
        gap: 4px;
        // Custom
        margin-top: -37px;
    }

    .hex-container {
        display: grid;
        place-items: center;
        position: relative;
        // Custom
        margin-left: -17px;
        margin-right: -14px;
        transition: transform 0.3s ease;
        cursor: pointer;
        text-decoration: none;

        * {
            grid-area: 1 / 1; // All the children occupy the same space
        }

        .hexagon {
            transition: color 0.3s ease;
            color: var(--positive-color);
        }

        .hex-content-positive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px; // Custom
            // Custom
            z-index: 2; // Ensures the content stays above the hexagon
            pointer-events: none; // Allows clicks to pass through to the hexagon
            transition: opacity 0.3s ease, transform 0.3s ease;

            .wizard-text {
                color: var(--text-accent2-default, #BF092F);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.48px;
                text-transform: lowercase;
            }

            .hex-text {
                color: var(--background-transparent-negative-50, rgba(0, 0, 0, 0.70));
                font-family: var(--typeface-brand, Sansation);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.48px;
                text-transform: lowercase;
            }

            .sponsor-text {
                color: var(--text-secondary-default, #456BA1);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.3px;
                text-transform: lowercase;
                // Custom
                margin-top: -16px;
            }

            .sponsor-name {
                color: var(--text-secondary-default, #456BA1);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.36px;
                // Custom
                margin-top: -8px;
            }
        }

        .hex-content-negative {
            opacity: 0;
            transform: scale(0.8);
            max-width: 130px;
        }
    }

    .hex-container:active {
        .hexagon {
            color: var(--inactive-color);
        }
    }

    #intro {
        display: flex;
        max-width: 600px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        // Text
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface, Inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        #intro-heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            // Text
            color: var(--text-secondary-default, #456BA1);
            font-family: var(--typeface-brand, Sansation);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #newroots {
            color: var(--text-neutral-default, #000);
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

@media (min-width: 800px) {
    #hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    #hexagons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // gap: -30px;
    }

    #hex-row-1 {
        display: flex;
        padding-left: 74px;
        align-items: center;
        gap: 8px;
    }

    #hex-row-2 {
        display: flex;
        padding-left: initial; // Custom
        align-items: center;
        gap: 8px;
        // Custom
        margin-top: -33px;
    }

    #hex-row-3 {
        display: flex;
        padding-left: 74px;
        align-items: center;
        gap: 8px;
        // Custom
        margin-top: -33px;
    }

    .hex-container {
        display: grid;
        place-items: center;
        position: relative;
        // Custom
        margin-left: initial;
        margin-right: initial;
        transition: transform 0.3s ease;
        cursor: pointer;
        text-decoration: none;

        * {
            grid-area: 1 / 1; // All the children occupy the same space
        }

        .hexagon {
            transition: color 0.3s ease;
            color: var(--positive-color);
        }

        .hex-content-positive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            // Custom
            z-index: 2; // Ensures the content stays above the hexagon
            pointer-events: none; // Allows clicks to pass through to the hexagon
            transition: opacity 0.3s ease, transform 0.3s ease;

            .wizard-text {
                color: var(--text-accent2-default, #BF092F);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.72px;
                text-transform: lowercase;
            }

            .hex-text {
                color: var(--background-transparent-negative-50, rgba(0, 0, 0, 0.70));
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.72px;
                text-transform: lowercase;
            }

            .sponsor-text {
                color: var(--text-secondary-default, #456BA1);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.3px;
                text-transform: lowercase;
                // Custom
                margin-top: -16px;
            }

            .sponsor-name {
                color: var(--text-secondary-default, #456BA1);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.48px;
                // Custom
                margin-top: -16px;
            }
        }

        .hex-content-negative {
            opacity: 0;
            transform: scale(0.8);
            max-width: 130px;
        }
    }

    .hex-container:hover {
        .hexagon {
            color: var(--negative-color);
        }

        .hex-content-positive {
            opacity: 0;
            transform: scale(1.2);
        }

        .hex-content-negative {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // Custom
            z-index: 2; // Ensures the content stays above the hexagon
            pointer-events: none; // Allows clicks to pass through to the hexagon
            max-width: 130px;
            opacity: 1;
            transform: scale(1);

            .wizard-text {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface, Inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.42px;
                text-transform: lowercase;
            }

            .hex-text {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface, Inter);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.48px;
                text-transform: lowercase;
            }

            .sponsor-text {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface, Inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.42px;
                text-transform: lowercase;
            }

            .sponsor-name {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.72px;
            }
        }
    }

    .hex-container:active {
        .hexagon {
            color: var(--reactive-color);
        }
    }

    #intro {
        display: flex;
        max-width: 600px; // Custom
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        // Text
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface, Inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        #intro-heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            // Text
            color: var(--text-secondary-default, #456BA1);
            font-family: var(--typeface-brand, Sansation);
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #newroots {
            color: var(--text-neutral-default, #000);
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

@media (min-width: 1280px) {
    #hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    #hexagons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // gap: -30px;
    }

    #hex-row-1 {
        display: flex;
        padding-left: initial; // Custom
        align-items: center;
        gap: 8px;
    }

    #hex-row-2 {
        display: flex;
        padding-left: 74px;
        align-items: center;
        gap: 8px;
        // Custom
        margin-top: -33px;
    }

    .hex-container {
        display: grid;
        place-items: center;
        position: relative;
        // Custom
        transition: transform 0.3s ease;
        cursor: pointer;
        text-decoration: none;

        * {
            grid-area: 1 / 1; // All the children occupy the same space
        }

        .hexagon {
            transition: color 0.3s ease;
            color: var(--positive-color);
        }

        .hex-content-positive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            // Custom
            z-index: 2; // Ensures the content stays above the hexagon
            pointer-events: none; // Allows clicks to pass through to the hexagon
            transition: opacity 0.3s ease, transform 0.3s ease;

            .wizard-text {
                color: var(--text-accent2-default, #BF092F);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.72px;
                text-transform: lowercase;
            }

            .hex-text {
                color: var(--background-transparent-negative-50, rgba(0, 0, 0, 0.70));
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.72px;
                text-transform: lowercase;
            }

            .sponsor-text {
                color: var(--text-secondary-default, #456BA1);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.3px;
                text-transform: lowercase;
                // Custom
                margin-top: -16px;
            }

            .sponsor-name {
                color: var(--text-secondary-default, #456BA1);
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.48px;
                // Custom
                margin-top: -16px;
            }
        }

        .hex-content-negative {
            opacity: 0;
            transform: scale(0.8);
            max-width: 130px;
        }
    }

    .hex-container:hover {
        .hexagon {
            color: var(--negative-color);
        }

        .hex-content-positive {
            opacity: 0;
            transform: scale(1.2);
        }

        .hex-content-negative {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // Custom
            z-index: 2; // Ensures the content stays above the hexagon
            pointer-events: none; // Allows clicks to pass through to the hexagon
            max-width: 130px;
            opacity: 1;
            transform: scale(1);

            .wizard-text {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface, Inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.42px;
                text-transform: lowercase;
            }

            .hex-text {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface, Inter);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.48px;
                text-transform: lowercase;
            }

            .sponsor-text {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface, Inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.42px;
                text-transform: lowercase;
            }

            .sponsor-name {
                color: var(--background-transparent-positive-70, rgba(255, 255, 255, 0.85));
                text-align: center;
                font-family: var(--typeface-brand, Sansation);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.72px;
            }
        }
    }

    .hex-container:active {
        .hexagon {
            color: var(--reactive-color);
        }
    }

    #intro {
        display: flex;
        max-width: 800px; // Custom
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        // Text
        color: var(--text-neutral-default, #000);
        font-family: var(--typeface, Inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        #intro-heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            // Text
            color: var(--text-secondary-default, #456BA1);
            font-family: var(--typeface-brand, Sansation);
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        #newroots {
            color: var(--text-neutral-default, #000);
            font-family: var(--typeface-brand, Sansation);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}