<div id="hero">
    <div id="hexagons">
        @for (row of allRows(); track $index) {
        <div [id]="'hex-row-' + ($index + 1)">
            @for (hex of row; track hex) {
            <a [routerLink]="hex.route" class="hex-container">
                <div [innerHTML]="(hex.hexagon?.() ?? scopedHexagon()) | safeHtml" class="hexagon"
                    [style.--positive-color]="hex.colors?.positive || 'var(--categories-positive-' + hex.name + ')'"
                    [style.--negative-color]="hex.colors?.negative || 'var(--categories-negative-' + hex.name + ')'"
                    [style.--reactive-color]="hex.colors?.reactive || 'var(--categories-80-' + hex.name + ')'"
                    [style.--inactive-color]="hex.colors?.inactive || 'var(--categories-20-' + hex.name + ')'">
                </div>

                @if (hex.route) {
                <div class="hex-content-positive">
                    @if(hex.sponsor) { <span class="sponsor-text">{{hex.name}}</span> }
                    <div [innerHTML]="(hex.icon?.() ?? '') | safeHtml"></div>
                    <span [class]="hex.children ? 'hex-text' : (hex.sponsor ? 'sponsor-name' : 'wizard-text')">
                        {{hex.sponsor || hex.name}}
                    </span>
                </div>

                <div class="hex-content-negative">
                    <span [class]="hex.children ? 'hex-text' : (hex.sponsor ? 'sponsor-text' : 'wizard-text')">
                        {{hex.text}}
                    </span>
                    @if(hex.sponsor) { <span class="sponsor-name">{{hex.sponsor}}</span> }
                </div>
                }
            </a>
            }
        </div>
        }
    </div>
</div>

<div id="intro">
    <h1 id="intro-heading">we lived to tell the tale...</h1>
    <div>
        Hello! Welcome to <span id="newroots">new roots</span>, a human-centred, inclusive platform that brings
        together step-by-step guidance and essential information needed for settling into a new life in Sweden, in one
        simple, intuitive experience.
        <br><br>
        Whether you are planning on moving to Sweden, have just arrived, or if you have already settled, you will find
        all the essential information you need - plus useful related information, to help you on your journey.
        <br><br>
        We value your opinion and have built in a simple way for relaying feedback. Feel free to use it, if you think it
        might help others navigating similar situations.
        <br><br>
        Beyond pure guidance, we are developing New Roots to be a personalised experience, and a destination where
        internationals can connect, share and thrive in Sweden within a safe digital community. We are also working to
        bring other culturally deep, rich experiences to the platform.
    </div>
</div>