<div id="breadcrumbs">
    <a href="/" id="home">⬢</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
        <path
            d="M4.3238 0.220418C4.02989 -0.073491 3.55344 -0.073454 3.25951 0.220418C2.96558 0.514345 2.96558 0.990781 3.25951 1.28471L7.08743 5.11312C7.57727 5.603 7.57729 6.39707 7.08743 6.88693L3.25951 10.7153C2.9656 11.0093 2.96559 11.4857 3.25951 11.7796C3.55344 12.0734 4.02991 12.0735 4.3238 11.7796L8.15172 7.95122C9.22945 6.87349 9.22945 5.12607 8.15172 4.04834L4.3238 0.220418Z"
            fill="#4D4D4D" />
    </svg>
    <div id="breadcrumb" [style.--breadcrumb-color]="'var(--categories-positive-' + category() + ')'">{{category()}}
    </div>
</div>
<div id="hero">
    @if (screen.screenWidth() > 0) {
    <div id="hexagons">
        @for (row of allRows(); track $index) {
        <div [id]="'hex-row-' + ($index + 1)">
            @for (hex of row; track hex) {
            <a [routerLink]="hex.route ?? null" class="hex-container">
                <div [innerHTML]="(hex.hexagon?.() ?? scopedHexagon()) | safeHtml" class="hexagon"
                    [style.--positive-color]="hex.colors?.positive || 'var(--categories-positive-' + hex.name + ')'"
                    [style.--negative-color]="hex.colors?.negative || 'var(--categories-negative-' + hex.name + ')'"
                    [style.--reactive-color]="hex.colors?.reactive || 'var(--categories-80-' + hex.name + ')'"
                    [style.--inactive-color]="hex.colors?.inactive || 'var(--categories-20-' + hex.name + ')'">
                </div>

                @if (hex.route) {
                <div class="hex-content-positive">
                    @if(hex.sponsor) { <span class="sponsor-text">{{hex.name}}</span> }
                    <div [innerHTML]="(hex.icon?.() ?? '') | safeHtml"></div>
                    <span [class]="hex.children ? 'hex-text' : (hex.sponsor ? 'sponsor-name' : 'wizard-text')">
                        {{hex.sponsor || hex.name}}
                    </span>
                </div>

                <div class="hex-content-negative">
                    <span [class]="hex.children ? 'hex-text' : (hex.sponsor ? 'sponsor-text' : 'wizard-text')">
                        {{hex.text}}
                    </span>
                    @if(hex.sponsor) { <span class="sponsor-name">{{hex.sponsor}}</span> }
                </div>
                }
            </a>
            }
        </div>
        }
    </div>
    }
</div>
<div id="outer-body">
    <div id="inner-body">
        <div id="intro">
            <h1 id="intro-heading" [style.--heading-color]="'var(--categories-negative-' + category() + ')'">
                {{category()}} in sweden</h1>
            <div>{{links().find(link => link.name === category())?.desc}}</div>
        </div>
    </div>
</div>