/* color-primitives - default */
:root {
    --transparent-primary-on-white-100: #172436FF;
    --transparent-primary-on-white-90: #172436F2;
    --transparent-primary-on-white-80: #172436E5;
    --transparent-primary-on-white-70: #172436D9;
    --transparent-primary-on-white-60: #172436CC;
    --transparent-primary-on-white-50: #172436B2;
    --transparent-primary-on-white-40: #17243666;
    --transparent-primary-on-white-30: #17243633;
    --transparent-primary-on-white-20: #1724361A;
    --transparent-primary-on-white-10: #1724360D;
    --transparent-primary-on-white-0: #17243600;
    --transparent-primary-on-black-100: #CFE2FCFF;
    --transparent-primary-on-black-90: #CFE2FCF2;
    --transparent-primary-on-black-80: #CFE2FCE5;
    --transparent-primary-on-black-70: #CFE2FCD9;
    --transparent-primary-on-black-60: #CFE2FCCC;
    --transparent-primary-on-black-50: #CFE2FCB2;
    --transparent-primary-on-black-40: #CFE2FC66;
    --transparent-primary-on-black-30: #CFE2FC33;
    --transparent-primary-on-black-20: #CFE2FC1A;
    --transparent-primary-on-black-10: #CFE2FC0D;
    --transparent-primary-on-black-0: #CFE2FC00;
    --transparent-secondary-on-white-100: #456BA1FF;
    --transparent-secondary-on-white-90: #456BA1F2;
    --transparent-secondary-on-white-80: #456BA1E5;
    --transparent-secondary-on-white-70: #456BA1D9;
    --transparent-secondary-on-white-60: #456BA1CC;
    --transparent-secondary-on-white-50: #456BA1B2;
    --transparent-secondary-on-white-40: #456BA166;
    --transparent-secondary-on-white-30: #456BA133;
    --transparent-secondary-on-white-20: #456BA11A;
    --transparent-secondary-on-white-10: #456BA10D;
    --transparent-secondary-on-white-0: #456BA100;
    --transparent-secondary-on-black-100: #6ED8FFFF;
    --primary-100: #0F1823FF;
    --primary-on-white: #172436FF;
    --primary-80: #314461FF;
    --primary-70: #4B6489FF;
    --primary-60: #6684AEFF;
    --primary-50: #82A3CFFF;
    --primary-40: #AFC4E5FF;
    --primary-30: #C6D4F1FF;
    --primary-on-black: #CFE2FCFF;
    --primary-10: #E6F0FFFF;
    --secondary-100: #0F1823FF;
    --secondary-90: #152436FF;
    --secondary-80: #1B365AFF;
    --secondary-on-white: #456BA1FF;
    --secondary-60: #4B84C6FF;
    --secondary-50: #57A4DEFF;
    --secondary-on-black: #6ED8FFFF;
    --secondary-30: #A1E7FFFF;
    --secondary-20: #CCF1FFFF;
    --secondary-10: #E5F8FFFF;
    --accent1-100: #0D260EFF;
    --accent1-90: #123B16FF;
    --accent1-80: #196728FF;
    --accent1-on-white: #1B9840FF;
    --accent1-60: #19CC60FF;
    --accent1-50: #29EF8BFF;
    --accent1-on-black: #6CFFCCFF;
    --accent1-30: #99FFE5FF;
    --accent1-20: #CCFFF7FF;
    --accent1-10: #E5FFFCFF;
    --accent2-100: #2B040CFF;
    --accent2-90: #450613FF;
    --accent2-80: #7A0A22FF;
    --accent2-on-white: #BF092FFF;
    --accent2-60: #E33152FF;
    --accent2-50: #F35C76FF;
    --accent2-on-black: #FF809AFF;
    --accent2-30: #FFB4C7FF;
    --accent2-20: #FFD9E1FF;
    --accent2-10: #FFEAF0FF;
    --accent3-100: #3A2606FF;
    --accent3-90: #5A3B0BFF;
    --accent3-80: #9A6B17FF;
    --accent3-on-white: #C98D1DFF;
    --accent3-60: #D9A236FF;
    --accent3-50: #E6B44AFF;
    --accent3-on-black: #F2BD5AFF;
    --accent3-30: #F6D38AFF;
    --accent3-20: #FBE9C3FF;
    --accent3-10: #FEF4E3FF;
    --white-brand-100: #F1F2F3FF;
    --white-absolute-100: #FFFFFFFF;
    --black-brand-100: #131920FF;
    --black-absolute-100: #000000FF;
    --transparent-secondary-on-black-90: #6ED8FFF2;
    --transparent-secondary-on-black-80: #6ED8FFE5;
    --transparent-secondary-on-black-70: #6ED8FFD9;
    --transparent-secondary-on-black-60: #6ED8FFCC;
    --transparent-secondary-on-black-50: #6ED8FFB2;
    --transparent-secondary-on-black-40: #6ED8FF66;
    --transparent-secondary-on-black-30: #6ED8FF33;
    --transparent-secondary-on-black-20: #6ED8FF1A;
    --transparent-secondary-on-black-10: #6ED8FF0D;
    --transparent-secondary-on-black-0: #6ED8FF00;
    --white-brand-90: #F1F2F3F2;
    --white-brand-80: #F1F2F3E5;
    --white-brand-70: #F1F2F3D9;
    --white-brand-60: #F1F2F3CC;
    --white-brand-50: #F1F2F3B2;
    --white-brand-40: #F1F2F373;
    --white-brand-30: #F1F2F333;
    --white-brand-20: #F1F2F31A;
    --white-brand-10: #F1F2F30D;
    --white-brand-0: #F1F2F300;
    --white-absolute-90: #FFFFFFF2;
    --white-absolute-80: #FFFFFFE5;
    --white-absolute-70: #FFFFFFD9;
    --white-absolute-60: #FFFFFFCC;
    --white-absolute-50: #FFFFFFB2;
    --white-absolute-40: #FFFFFF73;
    --white-absolute-30: #FFFFFF33;
    --white-absolute-20: #FFFFFF1A;
    --white-absolute-10: #FFFFFF0D;
    --white-absolute-0: #FFFFFF00;
    --black-brand-90: #131920F2;
    --black-brand-80: #131920E5;
    --black-brand-70: #131920D9;
    --black-brand-60: #131920CC;
    --black-brand-50: #131920B2;
    --black-brand-40: #13192073;
    --black-brand-30: #13192033;
    --black-brand-20: #1319201A;
    --black-brand-10: #1319200D;
    --black-brand-0: #13192000;
    --black-absolute-90: #000000F2;
    --black-absolute-80: #000000E5;
    --black-absolute-70: #000000D9;
    --black-absolute-60: #000000CC;
    --black-absolute-50: #000000B2;
    --black-absolute-40: #00000073;
    --black-absolute-30: #00000033;
    --black-absolute-20: #0000001A;
    --black-absolute-10: #0000000D;
    --black-absolute-0: #00000000;
    --grey-brand-100: #192129FF;
    --grey-brand-90: #29323DFF;
    --grey-brand-80: #333F4DFF;
    --grey-brand-70: #414C58FF;
    --grey-brand-60: #5C6570FF;
    --grey-brand-50: #797F86FF;
    --grey-brand-40: #B9BFC6FF;
    --grey-brand-30: #D5D8DDFF;
    --grey-brand-20: #E2E5E9FF;
    --grey-brand-10: #E8EAEEFF;
    --grey-absolute-100: #0D0D0DFF;
    --grey-absolute-90: #1A1A1AFF;
    --grey-absolute-80: #262626FF;
    --grey-absolute-70: #333333FF;
    --grey-absolute-60: #4D4D4DFF;
    --grey-absolute-50: #808080FF;
    --grey-absolute-40: #B2B2B2FF;
    --grey-absolute-30: #D9D9D9FF;
    --grey-absolute-20: #E5E5E5FF;
    --grey-absolute-10: #F7F7F7FF;
    --migration-10: #F5FCEFFF;
    --migration-20: #E3F7D4FF;
    --migration-40: #CCF1B1FF;
    --migration-60: #59B31AFF;
    --migration-80: #31620EFF;
    --migration-90: #122405FF;
    --housing-10: #EFFCF6FF;
    --housing-20: #D4F7E6FF;
    --housing-40: #B1F1D1FF;
    --housing-60: #1AB266FF;
    --housing-80: #0E6238FF;
    --housing-90: #052414FF;
    --money-10: #EFF9FCFF;
    --money-20: #D4EEF7FF;
    --money-40: #B1E1F1FF;
    --money-60: #1A8CB3FF;
    --money-80: #0E4D62FF;
    --money-90: #051C24FF;
    --work-10: #F0EFFCFF;
    --work-20: #D7D4F7FF;
    --work-40: #B6B1F1FF;
    --work-60: #3C3399FF;
    --work-80: #211C54FF;
    --work-90: #0C0A1FFF;
    --school-10: #FBEFFCFF;
    --school-20: #F5D4F7FF;
    --school-40: #ECB1F1FF;
    --school-60: #9929A3FF;
    --school-80: #54175AFF;
    --school-90: #1F0821FF;
    --health-10: #FCEFF2FF;
    --health-20: #F7D4DAFF;
    --health-40: #F1B1BCFF;
    --health-60: #B31A33FF;
    --health-80: #620E1CFF;
    --health-90: #24050AFF;
    --legal-10: #FDF4EFFF;
    --legal-20: #F9E0D3FF;
    --legal-40: #F4C6AFFF;
    --legal-60: #B94B15FF;
    --legal-80: #66290CFF;
    --legal-90: #250F04FF;
    --culture-10: #FDFBEEFF;
    --culture-20: #FAF3D1FF;
    --culture-40: #F6EAACFF;
    --culture-60: #C8A705FF;
    --culture-80: #6E5C03FF;
    --culture-90: #282101FF;
}

/* typeface - default */
:root {
    --typeface: Inter;
    --typeface-brand: Sansation;
    --typeface-brand-light: Sansation Light;
}

/* numbers - default */
:root {
    --corner-radius-button-full: 1000px;
    --corner-radius-button-high: 16px;
    --corner-radius-button-medium: 12px;
    --corner-radius-button-low: 4px;
    --corner-radius-button-off: 0px;
    --corner-radius-frame-full: 1000px;
    --corner-radius-frame-high: 48px;
    --corner-radius-frame-medium: 24px;
    --corner-radius-frame-low: 12px;
    --corner-radius-frame-off: 0px;
    --desktop-max-width: 1280px;
    --tablet-max-width: 800px;
}

/* colors - Dark */
:root {
    --background-web-page-default: var(--black-brand-100);
    --background-web-page-negative: var(--white-absolute-100);
    --background-neutral-default: var(--black-absolute-100);
    --background-negative-default: var(--white-absolute-100);
    --background-negative-hover: var(--grey-absolute-20);
    --background-neutral-hover: var(--grey-absolute-90);
    --background-brand-default: var(--black-brand-100);
    --background-brand-hover: var(--grey-brand-90);
    --background-contrast-default: var(--white-brand-100);
    --background-contrast-hover: var(--grey-brand-20);
    --background-primary-default: var(--primary-on-black);
    --background-primary-hover: var(--primary-10);
    --background-secondary-default: var(--secondary-on-black);
    --background-secondary-hover: var(--secondary-30);
    --background-accent1-default: var(--accent1-on-black);
    --background-accent1-hover: var(--accent1-30);
    --background-accent2-default: var(--accent2-on-black);
    --background-accent3-default: var(--accent3-on-black);
    --background-accent3-hover: var(--accent3-30);
    --background-accent2-hover: var(--accent2-30);
    --background-disabled-default: var(--grey-brand-50);
    --background-disabled-hover: var(--grey-brand-50);
    --text-neutral-default: var(--white-absolute-100);
    --text-neutral-on-neutral: var(--white-absolute-100);
    --text-contrast-default: var(--white-absolute-100);
    --text-contrast-on-contrast: var(--black-absolute-100);
    --text-primary-default: var(--primary-on-black);
    --text-primary-on-primary: var(--black-absolute-100);
    --text-secondary-default: var(--secondary-on-black);
    --text-secondary-on-seconday: var(--black-absolute-100);
    --text-accent1-default: var(--accent1-on-black);
    --text-accent1-on-accent1: var(--black-absolute-100);
    --text-accent2-default: var(--accent2-on-black);
    --text-accent2-on-accent2: var(--black-absolute-100);
    --text-accent3-default: var(--accent3-on-black);
    --text-accent3-on-accent3: var(--black-absolute-100);
    --text-disabled-default: var(--grey-brand-50);
    --text-disabled-on-disabled: var(--grey-brand-40);
    --icon-neutral-default: var(--white-absolute-100);
    --icon-neutral-on-neutral: var(--white-absolute-100);
    --icon-web-page-default: var(--black-brand-100);
    --icon-web-page-on-web-page: var(--grey-brand-100);
    --icon-contrast-default: var(--white-absolute-100);
    --icon-contrast-on-contrast: var(--black-absolute-100);
    --icon-primary-default: var(--primary-on-black);
    --icon-primary-on-primary: var(--black-absolute-100);
    --icon-secondary-default: var(--secondary-on-black);
    --icon-secondary-on-secondary: var(--black-absolute-100);
    --icon-accent1-default: var(--accent1-on-black);
    --icon-accent1-on-accent1: var(--black-absolute-100);
    --icon-accent2-default: var(--accent2-on-black);
    --icon-accent2-on-accent2: var(--black-absolute-100);
    --icon-accent3-default: var(--accent3-on-black);
    --icon-accent3-on-accent3: var(--black-absolute-100);
    --icon-disabled-default: var(--grey-brand-50);
    --icon-disabled-on-disabled: var(--grey-brand-40);
    --border-on-neutral-default: var(--grey-brand-80);
    --fixed-light-neutral: var(--white-absolute-100);
    --fixed-light-grey: var(--grey-absolute-30);
    --fixed-light-brand: var(--white-brand-100);
    --fixed-light-primary: var(--primary-on-black);
    --fixed-light-secondary: var(--secondary-on-black);
    --fixed-light-accent1: var(--accent1-on-black);
    --fixed-light-accent2: var(--accent2-on-black);
    --fixed-light-accent3: var(--accent3-on-black);
    --fixed-dark-neutral: var(--black-absolute-100);
    --fixed-dark-grey: var(--grey-absolute-70);
    --fixed-dark-brand: var(--black-brand-100);
    --fixed-dark-primary: var(--primary-on-white);
    --fixed-dark-secondary: var(--secondary-on-white);
    --fixed-dark-tertiary: var(--secondary-80);
    --fixed-dark-accent1: var(--accent1-on-white);
    --fixed-dark-accent2: var(--accent2-on-white);
    --fixed-dark-accent3: var(--accent3-on-white);
    --border-on-neutral-bold: var(--grey-brand-60);
    --border-on-contrast-default: var(--grey-brand-30);
    --border-on-contrast-bold: var(--grey-brand-50);
    --border-on-primary-default: var(--black-absolute-20);
    --border-on-primary-bold: var(--secondary-50);
    --border-on-accent1-default: var(--black-absolute-20);
    --border-on-accent1-bold: var(--accent1-60);
    --border-on-accent2-default: var(--black-absolute-20);
    --border-on-accent3-default: var(--black-absolute-20);
    --border-on-accent3-bold: var(--accent3-60);
    --border-on-accent2-bold: var(--accent2-60);
    --border-on-disabled-default: var(--black-absolute-30);
    --border-on-disabled-bold: var(--black-absolute-40);
    --text-link-adaptive-default: var(--secondary-on-black);
    --text-link-adaptive-footer: var(--grey-absolute-40);
    --text-link-adaptive-hover: var(--secondary-20);
    --text-link-fixed-on-light-light: var(--secondary-on-white);
    --text-link-fixed-on-light-hover: var(--secondary-50);
    --text-link-fixed-on-dark-light: var(--secondary-on-black);
    --text-link-fixed-on-dark-hover: var(--secondary-20);
    --border-on-footer-default: var(--grey-absolute-40);
    --border-on-footer-bold: var(--grey-absolute-20);
    --background-transparent-positive-100: var(--black-absolute-100);
    --background-transparent-positive-90: var(--black-absolute-90);
    --background-transparent-positive-80: var(--black-absolute-80);
    --background-transparent-positive-70: var(--black-absolute-70);
    --background-transparent-positive-60: var(--black-absolute-60);
    --background-transparent-positive-50: var(--black-absolute-50);
    --background-transparent-positive-40: var(--black-absolute-40);
    --background-transparent-positive-30: var(--black-absolute-30);
    --background-transparent-positive-20: var(--black-absolute-20);
    --background-transparent-positive-10: var(--black-absolute-10);
    --background-transparent-positive-0: var(--black-absolute-0);
    --background-transparent-negative-100: var(--white-absolute-100);
    --background-transparent-negative-90: var(--white-absolute-90);
    --background-transparent-negative-80: var(--white-absolute-80);
    --background-transparent-negative-70: var(--white-absolute-70);
    --background-transparent-negative-60: var(--white-absolute-60);
    --background-transparent-negative-50: var(--white-absolute-50);
    --background-transparent-negative-40: var(--white-absolute-40);
    --background-transparent-negative-30: var(--white-absolute-30);
    --background-transparent-negative-20: var(--white-absolute-20);
    --background-transparent-negative-10: var(--white-absolute-10);
    --background-transparent-negative-0: var(--white-absolute-0);
    --categories-10-migration: var(--migration-90);
    --categories-10-housing: var(--housing-90);
    --categories-10-money: var(--money-90);
    --categories-10-work: var(--work-90);
    --categories-10-school: var(--school-90);
    --categories-10-health: var(--health-90);
    --categories-10-legal: var(--legal-90);
    --categories-10-culture: var(--culture-90);
    --categories-10-primary: var(--primary-100);
    --categories-10-secondary: var(--secondary-90);
    --categories-10-accent1: var(--accent1-100);
    --categories-10-accent2: var(--accent2-100);
    --categories-10-accent3: var(--accent3-100);
    --categories-20-migration: var(--migration-80);
    --categories-20-housing: var(--housing-80);
    --categories-20-money: var(--money-80);
    --categories-20-work: var(--work-80);
    --categories-20-school: var(--school-80);
    --categories-20-health: var(--health-80);
    --categories-20-legal: var(--legal-80);
    --categories-20-culture: var(--culture-80);
    --categories-20-primary: var(--primary-on-white);
    --categories-20-secondary: var(--secondary-80);
    --categories-20-accent1: var(--accent1-90);
    --categories-20-accent2: var(--accent2-90);
    --categories-20-accent3: var(--accent3-90);
    --categories-positive-migration: var(--migration-60);
    --categories-positive-housing: var(--housing-60);
    --categories-positive-money: var(--money-60);
    --categories-positive-work: var(--work-60);
    --categories-positive-school: var(--school-60);
    --categories-positive-health: var(--health-60);
    --categories-positive-legal: var(--legal-60);
    --categories-positive-culture: var(--culture-60);
    --categories-positive-primary: var(--primary-80);
    --categories-positive-secondary: var(--secondary-on-white);
    --categories-positive-accent1: var(--accent1-on-white);
    --categories-positive-accent2: var(--accent2-on-white);
    --categories-positive-accent3: var(--accent3-on-white);
    --categories-negative-migration: var(--migration-40);
    --categories-negative-housing: var(--housing-40);
    --categories-negative-money: var(--money-40);
    --categories-negative-work: var(--work-40);
    --categories-negative-school: var(--school-40);
    --categories-negative-health: var(--health-40);
    --categories-negative-legal: var(--legal-40);
    --categories-negative-culture: var(--culture-40);
    --categories-negative-primary: var(--primary-30);
    --categories-negative-secondary: var(--secondary-on-black);
    --categories-negative-accent1: var(--accent1-on-black);
    --categories-negative-accent2: var(--accent2-on-black);
    --categories-negative-accent3: var(--accent3-on-black);
    --categories-80-migration: var(--migration-20);
    --categories-80-housing: var(--housing-20);
    --categories-80-money: var(--money-20);
    --categories-80-work: var(--work-20);
    --categories-80-school: var(--school-20);
    --categories-80-health: var(--health-20);
    --categories-80-legal: var(--legal-20);
    --categories-80-culture: var(--culture-20);
    --categories-80-primary: var(--primary-on-black);
    --categories-80-secondary: var(--secondary-20);
    --categories-80-accent1: var(--accent1-20);
    --categories-80-accent2: var(--accent2-20);
    --categories-80-accent3: var(--accent3-20);
    --categories-90-migration: var(--migration-10);
    --categories-90-housing: var(--housing-10);
    --categories-90-money: var(--money-10);
    --categories-90-work: var(--work-10);
    --categories-90-school: var(--school-10);
    --categories-90-health: var(--health-10);
    --categories-90-legal: var(--legal-10);
    --categories-90-culture: var(--culture-10);
    --categories-90-primary: var(--primary-10);
    --categories-90-secondary: var(--secondary-10);
    --categories-90-accent1: var(--accent1-10);
    --categories-90-accent2: var(--accent2-10);
    --categories-90-accent3: var(--accent3-10);
}

/* colors - Light */
:root {
    --background-web-page-default: var(--white-absolute-100);
    --background-web-page-negative: var(--black-brand-100);
    --background-neutral-default: var(--white-absolute-100);
    --background-negative-default: var(--black-absolute-100);
    --background-negative-hover: var(--grey-absolute-80);
    --background-neutral-hover: var(--grey-absolute-20);
    --background-brand-default: var(--white-brand-100);
    --background-brand-hover: var(--grey-brand-20);
    --background-contrast-default: var(--black-brand-100);
    --background-contrast-hover: var(--grey-brand-90);
    --background-primary-default: var(--primary-on-white);
    --background-primary-hover: var(--primary-100);
    --background-secondary-default: var(--secondary-on-white);
    --background-secondary-hover: var(--secondary-80);
    --background-accent1-default: #1B9840FF;
    --background-accent1-hover: var(--accent1-80);
    --background-accent2-default: var(--accent2-on-white);
    --background-accent3-default: var(--accent3-on-white);
    --background-accent3-hover: var(--accent3-80);
    --background-accent2-hover: var(--accent2-80);
    --background-disabled-default: var(--grey-brand-50);
    --background-disabled-hover: var(--grey-brand-50);
    --text-neutral-default: var(--black-absolute-100);
    --text-neutral-on-neutral: var(--black-absolute-100);
    --text-contrast-default: var(--black-absolute-100);
    --text-contrast-on-contrast: var(--white-absolute-100);
    --text-primary-default: var(--primary-on-white);
    --text-primary-on-primary: var(--white-absolute-100);
    --text-secondary-default: var(--secondary-on-white);
    --text-secondary-on-seconday: var(--white-absolute-100);
    --text-accent1-default: var(--accent1-on-white);
    --text-accent1-on-accent1: var(--white-absolute-100);
    --text-accent2-default: var(--accent2-on-white);
    --text-accent2-on-accent2: var(--white-absolute-100);
    --text-accent3-default: var(--accent3-on-white);
    --text-accent3-on-accent3: var(--white-absolute-100);
    --text-disabled-default: var(--grey-brand-50);
    --text-disabled-on-disabled: var(--grey-brand-40);
    --icon-neutral-default: var(--black-absolute-100);
    --icon-neutral-on-neutral: var(--black-absolute-100);
    --icon-web-page-default: var(--white-absolute-100);
    --icon-web-page-on-web-page: var(--white-brand-100);
    --icon-contrast-default: var(--black-absolute-100);
    --icon-contrast-on-contrast: var(--white-absolute-100);
    --icon-primary-default: var(--primary-on-white);
    --icon-primary-on-primary: var(--white-absolute-100);
    --icon-secondary-default: var(--secondary-on-white);
    --icon-secondary-on-secondary: var(--white-absolute-100);
    --icon-accent1-default: var(--accent1-on-white);
    --icon-accent1-on-accent1: var(--white-absolute-100);
    --icon-accent2-default: var(--accent2-on-white);
    --icon-accent2-on-accent2: var(--white-absolute-100);
    --icon-accent3-default: var(--accent3-on-white);
    --icon-accent3-on-accent3: var(--white-absolute-100);
    --icon-disabled-default: var(--grey-brand-50);
    --icon-disabled-on-disabled: var(--grey-brand-40);
    --border-on-neutral-default: var(--grey-brand-30);
    --fixed-light-neutral: var(--white-absolute-100);
    --fixed-light-grey: var(--grey-absolute-30);
    --fixed-light-brand: var(--white-brand-100);
    --fixed-light-primary: var(--primary-on-black);
    --fixed-light-secondary: var(--secondary-on-black);
    --fixed-light-accent1: var(--accent1-on-black);
    --fixed-light-accent2: var(--accent2-on-black);
    --fixed-light-accent3: var(--accent3-on-black);
    --fixed-dark-neutral: var(--black-absolute-100);
    --fixed-dark-grey: var(--grey-absolute-70);
    --fixed-dark-brand: var(--black-brand-100);
    --fixed-dark-primary: var(--primary-on-white);
    --fixed-dark-secondary: var(--secondary-on-white);
    --fixed-dark-tertiary: var(--secondary-80);
    --fixed-dark-accent1: var(--accent1-on-white);
    --fixed-dark-accent2: var(--accent2-on-white);
    --fixed-dark-accent3: var(--accent3-on-white);
    --border-on-neutral-bold: var(--grey-brand-50);
    --border-on-contrast-default: var(--grey-brand-80);
    --border-on-contrast-bold: var(--grey-brand-50);
    --border-on-primary-default: var(--white-absolute-20);
    --border-on-primary-bold: var(--secondary-50);
    --border-on-accent1-default: var(--white-absolute-30);
    --border-on-accent1-bold: var(--accent1-60);
    --border-on-accent2-default: var(--white-absolute-30);
    --border-on-accent3-default: var(--white-absolute-30);
    --border-on-accent3-bold: var(--accent3-60);
    --border-on-accent2-bold: var(--accent2-60);
    --border-on-disabled-default: var(--white-absolute-30);
    --border-on-disabled-bold: var(--white-absolute-40);
    --text-link-adaptive-default: var(--secondary-on-white);
    --text-link-adaptive-footer: var(--grey-absolute-60);
    --text-link-adaptive-hover: var(--secondary-50);
    --text-link-fixed-on-light-light: var(--secondary-on-white);
    --text-link-fixed-on-light-hover: var(--secondary-50);
    --text-link-fixed-on-dark-light: var(--secondary-on-black);
    --text-link-fixed-on-dark-hover: var(--secondary-20);
    --border-on-footer-default: var(--grey-absolute-60);
    --border-on-footer-bold: var(--grey-absolute-80);
    --background-transparent-positive-100: var(--white-absolute-100);
    --background-transparent-positive-90: var(--white-absolute-90);
    --background-transparent-positive-80: var(--white-absolute-80);
    --background-transparent-positive-70: var(--white-absolute-70);
    --background-transparent-positive-60: var(--white-absolute-60);
    --background-transparent-positive-50: var(--white-absolute-50);
    --background-transparent-positive-40: var(--white-absolute-40);
    --background-transparent-positive-30: var(--white-absolute-30);
    --background-transparent-positive-20: var(--white-absolute-20);
    --background-transparent-positive-10: var(--white-absolute-10);
    --background-transparent-positive-0: var(--white-absolute-0);
    --background-transparent-negative-100: var(--black-absolute-100);
    --background-transparent-negative-90: var(--black-absolute-90);
    --background-transparent-negative-80: var(--black-absolute-80);
    --background-transparent-negative-70: var(--black-absolute-70);
    --background-transparent-negative-60: var(--black-absolute-60);
    --background-transparent-negative-50: var(--black-absolute-50);
    --background-transparent-negative-40: var(--black-absolute-40);
    --background-transparent-negative-30: var(--black-absolute-30);
    --background-transparent-negative-20: var(--black-absolute-20);
    --background-transparent-negative-10: var(--black-absolute-10);
    --background-transparent-negative-0: var(--black-absolute-0);
    --categories-10-migration: var(--migration-10);
    --categories-10-housing: var(--housing-10);
    --categories-10-money: var(--money-10);
    --categories-10-work: var(--work-10);
    --categories-10-school: var(--school-10);
    --categories-10-health: var(--health-10);
    --categories-10-legal: var(--legal-10);
    --categories-10-culture: var(--culture-10);
    --categories-10-primary: var(--primary-10);
    --categories-10-secondary: var(--secondary-10);
    --categories-10-accent1: var(--accent1-10);
    --categories-10-accent2: var(--accent2-10);
    --categories-10-accent3: var(--accent3-10);
    --categories-20-migration: var(--migration-20);
    --categories-20-housing: var(--housing-20);
    --categories-20-money: var(--money-20);
    --categories-20-work: var(--work-20);
    --categories-20-school: var(--school-20);
    --categories-20-health: var(--health-20);
    --categories-20-legal: var(--legal-20);
    --categories-20-culture: var(--culture-20);
    --categories-20-primary: var(--primary-on-black);
    --categories-20-secondary: var(--secondary-20);
    --categories-20-accent1: var(--accent1-20);
    --categories-20-accent2: var(--accent2-20);
    --categories-20-accent3: var(--accent3-20);
    --categories-positive-migration: var(--migration-40);
    --categories-positive-housing: var(--housing-40);
    --categories-positive-money: var(--money-40);
    --categories-positive-work: var(--work-40);
    --categories-positive-school: var(--school-40);
    --categories-positive-health: var(--health-40);
    --categories-positive-legal: var(--legal-40);
    --categories-positive-culture: var(--culture-40);
    --categories-positive-primary: var(--primary-40);
    --categories-positive-secondary: var(--secondary-on-black);
    --categories-positive-accent1: var(--accent1-on-black);
    --categories-positive-accent2: var(--accent2-on-black);
    --categories-positive-accent3: var(--accent3-on-black);
    --categories-negative-migration: var(--migration-60);
    --categories-negative-housing: var(--housing-60);
    --categories-negative-money: var(--money-60);
    --categories-negative-work: var(--work-60);
    --categories-negative-school: var(--school-60);
    --categories-negative-health: var(--health-60);
    --categories-negative-legal: var(--legal-60);
    --categories-negative-culture: var(--culture-60);
    --categories-negative-primary: var(--primary-80);
    --categories-negative-secondary: var(--secondary-on-white);
    --categories-negative-accent1: var(--accent1-on-white);
    --categories-negative-accent2: var(--accent2-on-white);
    --categories-negative-accent3: var(--accent3-on-white);
    --categories-80-migration: var(--migration-80);
    --categories-80-housing: var(--housing-80);
    --categories-80-money: var(--money-80);
    --categories-80-work: var(--work-80);
    --categories-80-school: var(--school-80);
    --categories-80-health: var(--health-80);
    --categories-80-legal: var(--legal-80);
    --categories-80-culture: var(--culture-80);
    --categories-80-primary: var(--primary-on-white);
    --categories-80-secondary: var(--secondary-80);
    --categories-80-accent1: var(--accent1-90);
    --categories-80-accent2: var(--accent2-90);
    --categories-80-accent3: var(--accent3-90);
    --categories-90-migration: var(--migration-90);
    --categories-90-housing: var(--housing-90);
    --categories-90-money: var(--money-90);
    --categories-90-work: var(--work-90);
    --categories-90-school: var(--school-90);
    --categories-90-health: var(--health-90);
    --categories-90-legal: var(--legal-90);
    --categories-90-culture: var(--culture-90);
    --categories-90-primary: var(--primary-100);
    --categories-90-secondary: var(--secondary-90);
    --categories-90-accent1: var(--accent1-100);
    --categories-90-accent2: var(--accent2-100);
    --categories-90-accent3: var(--accent3-100);
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #E2E5E9;
    color: #000;
}

nr-root {
    display: block;
    min-height: 100vh;
}